HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
# from gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
# from gradle
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# CUSTOM added
.mvn
logs/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
# from gradle
out/
!**/src/main/**/out/
!**/src/test/**/out/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
# from gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
